/*GENERAL*/
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
body {
    width: 100%;
    display: flex;
    margin-right: 20px;
}

.left {
    width: 30%;
    background-color: #BF7867;
    box-shadow: 10px 10px green;
    margin-left: 20px;
    padding-left: 20px;

}

.right {
    width: 70%;
    margin: 0 20px 0 10px;
    padding-left: 20px;
}

/* /GENERAL */

/* PARTIE GAUCHE */

/* profil */
.profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profil img {
    width: 100px;
    margin-top: 20px;
}
/* /profil */

/* Titre des sections */
.loisirs h3, .contact h3, .loisirs h3, .langues h3 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BFA467;
    border-radius: 20px;
    color: white;
    margin: 20px 100px 20px 100px;
}
/* /Titre des sections */

/* contact */
.contact {
    display: flex;
    flex-direction: column;
}

.element {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.element img {
    width: auto;
    height: 40px;
    margin-left: 10px;
}

.element p {
    margin-left: 20px;
}
/* /contact */

/* Loisirs */
.icone {
    display: flex;
    justify-content: space-around;
}
.icone img {
    height: 60px;
    width: auto;
    margin-top: 20px;
}
/* /Loisirs*/

/* /PARTIE GAUCHE */

/* PARTIE DROITE */

h1, h2 {
    font-size: 25px;
}
/* logo mn */
.logo img {
    height: 150px;
    width: auto;
}
/* partie titre */
.titre {
    background-color: #BF7867;
    border-radius: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* description */
.description {
    background-color: #F2E4E1;
    height: 100px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
}
/* /description */

/* barre de nav */
nav ul {
    background-color: #BF7867;
    height: 70px;
    width: 96.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar ul {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar li:hover {
    background-color:#BFA467 ;
}
/* /barre de nav */

/* Compétences */

.competences{
    background-color: #F2E4E1;
}
.competences .element {
    display: flex;
    justify-content: space-around;
}
.competences .element figure img {
    width: 80px;
    height: auto;
}
figure figcaption {
    text-align: center;
}
/* /Compétences */

.exp {
    text-align: center;
}

/* Experiences */
.experiences .element1, .element2, .element3 {
    background-color: blueviolet;
}
.date {
    font-size: 30px;
}
.element1 .date {
    z-index: 100;
    float: right;
    margin-top: -25px;
    padding-right: 20px;
}

/* /Experiences */

/* /PARTIE DROITE */